li{list-style: none;}
.series__container{width: 100%;}
.series__name_container{border: 1px solid #f1f1f1;}
.series__name_list{display: flex;justify-content: center;padding: 20px 10px;flex-wrap: wrap;}
.series__name_listitem{border-right: 1px solid #9e9e9e;list-style: none;height: auto;padding: 0 14px;cursor: pointer;}
.series__name_listitem:last-child{border-right: 0px none #000;}
.series__name_listitem p{color: #9e9e9e;margin: 0;font-size: 14px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;transition-duration: 0.3s;}
.series__name_listitem:hover p{color: #000;}

